name: 'Theme Manager'
id: thememanager
key: ThemeManager
author_link: http://endevver.com/
author_name: Endevver
description: 'A comprehensive theme management plugin!'
version: 0.10.15
schema_version: 7
static_version: 7
l10n_class: ThemeManager::L10N

applications:
    cms:
        menus: $ThemeManager::ThemeManager::Plugin::update_menus
        methods:
            paypal_donate:    $ThemeManager::ThemeManager::Plugin::paypal_donate
            list_template:    $ThemeManager::ThemeManager::Plugin::list_templates
            tm.rebuild_tmpl:  $ThemeManager::ThemeManager::Plugin::rebuild_tmpl
            edit_templates:   $ThemeManager::ThemeManager::Plugin::edit_templates
            unlink_templates: $ThemeManager::ThemeManager::Plugin::unlink_templates
            select_theme:     $ThemeManager::ThemeManager::Plugin::select_theme
            setup_theme:      $ThemeManager::ThemeManager::Plugin::setup_theme
            theme_dashboard:  $ThemeManager::ThemeManager::Plugin::theme_dashboard
            theme_info:       $ThemeManager::ThemeManager::Plugin::theme_info

page_actions: $ThemeManager::ThemeManager::Plugin::update_page_actions

list_actions:
    blog:
        apply_theme:
            label: 'Apply Theme'
            order: 500
            code: $ThemeManager::ThemeManager::Plugin::select_theme
            dialog: 1
            permission: edit_templates

callbacks:
    template_source:               $ThemeManager::ThemeManager::Plugin::xfrm_add_thumb
    blog_template_set_change:      $ThemeManager::ThemeManager::TemplateInstall::template_set_change
    DefaultTemplateFilter:         $ThemeManager::ThemeManager::TemplateInstall::template_filter
    template_source.edit_blog:     $ThemeManager::ThemeManager::TemplateInstall::xfrm_add_language
    template_param.edit_blog:      $ThemeManager::ThemeManager::TemplateInstall::xfrm_param_add_language

init_app: $ThemeManager::ThemeManager::Init::init_app
    
object_types:
    theme: ThemeManager::Theme
    blog:
        template_set_language: string meta
        theme_meta: vblob meta
        theme_mode: string meta

skip_static:
    - .psd

widgets: $ThemeManager::ThemeManager::DashboardWidget::widget

tags:
    function:
        TemplateSetLanguage: $ThemeManager::ThemeManager::Tags::template_set_language

options:
    fieldsets:
        mode_overview:
            label: 'Theme Deployment Mode'
            hint: 'Theme Manager can deploy themes in one of two modes: Production Mode and Designer and Developer Mode. Production Mode is used for live, production sites; Designer and Developer Mode speeds theme creation. Refer to the Theme Manager documentation for more details on the difference between these options.'
    tm_mode:
        label: 'Select a Mode'
        type: radio
        values: 'Production Mode,Designer and Developer Mode'
        default: 'Production Mode'
        tag: ThemeManagerMode
        scope: system
        fieldset: mode_overview

tasks:
    site_preview_image:
        label: 'Create a site preview image for the Theme Dashboard'
        frequency: 86400
        code: $ThemeManager::ThemeManager::Plugin::site_preview_image

