name: 'Theme Manager'
id: thememanager
key: ThemeManager
author_link: http://endevver.com/
author_name: Endevver
description: 'A comprehensive theme management plugin!'
version: 1.1.6
schema_version: 7
static_version: 10
l10n_class: ThemeManager::L10N

object_types:
    theme: ThemeManager::Theme
    blog:
        template_set_language: string meta
        theme_meta: vblob meta
        theme_mode: string meta

init_app: $ThemeManager::ThemeManager::Init::init_app

tasks:
    site_preview_image:
        label: 'Create a site preview image for the Theme Dashboard'
        frequency: 86400
        code: $ThemeManager::ThemeManager::Plugin::site_preview_image

callbacks:
    template_source:           $ThemeManager::ThemeManager::Plugin::xfrm_add_thumb
    blog_template_set_change:  $ThemeManager::ThemeManager::TemplateInstall::template_set_change
    DefaultTemplateFilter:     $ThemeManager::ThemeManager::TemplateInstall::template_filter
    template_source.edit_blog: $ThemeManager::ThemeManager::TemplateInstall::xfrm_add_language
    template_param.edit_blog:  $ThemeManager::ThemeManager::TemplateInstall::xfrm_param_add_language

page_actions: $ThemeManager::ThemeManager::Plugin::update_page_actions

list_actions:
    blog:
        apply_theme:
            label: 'Apply Theme'
            order: 500
            code: $ThemeManager::ThemeManager::Plugin::select_theme
            dialog: 1
            permission: edit_templates

applications:
    cms:
        menus: $ThemeManager::ThemeManager::Plugin::update_menus
        list_actions:
            template:
                link:
                    label: 'Link to Theme'
                    order: 201 
                    code:  $ThemeManager::ThemeManager::Plugin::itemset_link
                unlink:
                    label: 'Unlink to Theme'
                    order: 202
                    code:  $ThemeManager::ThemeManager::Plugin::itemset_unlink

        methods:
            paypal_donate:         $ThemeManager::ThemeManager::Plugin::paypal_donate
            list_template:         $ThemeManager::ThemeManager::Plugin::list_templates
            list_template_backups: $ThemeManager::ThemeManager::Plugin::list_template_backups
            delete_tmpl_backups:   $ThemeManager::ThemeManager::Plugin::delete_tmpl_backups
            tm.rebuild_tmpl:       $ThemeManager::ThemeManager::Plugin::rebuild_tmpl
            select_theme:          $ThemeManager::ThemeManager::Plugin::select_theme
            setup_theme:           $ThemeManager::ThemeManager::Plugin::setup_theme
            theme_dashboard:       $ThemeManager::ThemeManager::Plugin::theme_dashboard
            theme_info:            $ThemeManager::ThemeManager::Plugin::theme_info
            theme_mode_switch:     $ThemeManager::ThemeManager::TemplateInstall::theme_mode_switch
            theme_upgrade:         $ThemeManager::ThemeManager::TemplateInstall::theme_upgrade_proposal
            theme_upgrade_action:  $ThemeManager::ThemeManager::TemplateInstall::theme_upgrade_action

tags:
    function:
        TemplateSetLanguage: $ThemeManager::ThemeManager::Tags::template_set_language

widgets: $ThemeManager::ThemeManager::DashboardWidget::widget

skip_static:
    - .psd
